.nav{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.lang{
    cursor: pointer;
    margin: 1em;
    color: #444;
}

.search-container{
    display: flex;
    justify-content: center;
    border: 2px solid #444;
    align-items: center;
    

}
.search-container input{
    border: none;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprise{
    color: blue;
    text-decoration: underline;
    text-transform: uppercase;
}

.left{
    flex:1;
}

.center{
    flex:1;
}

.right{
    flex: 1;
    display: flex;
    gap: 1em;
    
}

.right li a{
    text-transform:uppercase;
    text-decoration: none;
    color: #444;
}
.right li{
    list-style-type: none;
  
}
.right li a:hover{
    color: black;
}