.signup-page {
 
  height:95vh;

}


.form-content {
    display: flex;
    margin: 3em;
    justify-content: space-between;
   
   
 
  }

.form-holder {
  display: flex;
  flex-direction: column;
  gap: 2em;
}



.signup-name {
  display: flex;
  gap: 2em;
  width: 100%;
  line-height: 2em;
  font-size: 1.7rem;
  
}

.passward-holder {
  display: flex;
  gap: 2em;
}

.signup-button {
  padding: 1em;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  /* margin-top: 2em; */
  background-color: #397475;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  
}

.accounts input {
  margin: 2em;
  width: 100%;
}


.my-inputs {
  margin-bottom: 2em;
  line-height: 2em;
  font-size: 1.5rem;
  width: 100%;
}


input {
  padding: 1em;
  width: 100%;
  outline: none;
  border: solid 2px #397475;
}

.accounts {
  background: linear-gradient(rgba(59, 119, 121, 0.8), rgba(50, 112, 114, 0.8)),url("../Images/slide.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:10%;
  height: 90vh;

  align-items: center;

}

.accounts h1{
    color: #fff;
    text-align: center;
}
.have-account p a{
    color: teal;
    font-size: 1.3rem;
}

.have-account{
    font-size: 2rem;
}

.position{
    position: relative;
    margin: 2em 0em;
    
}

.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size:2.5rem !important;
    color: #fff;
}
