.my-footer-logo {
  display: flex;
  flex-direction: column;
  width: 50%;
}


.footer-Container {
  background-color: #d1cccc;
  display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 2em;

 } 


.footer-icons {
  display: flex;
  margin-left: 2em;
}
.footer-icons div {
  margin-right:1em;
  font:1rem;
}
 
.footer-li {
  display: flex;
 
}

.li-2, .my-footer-logo, .footer-terms{
/* flex : 1; */
width: 25%;
padding: 0 2em;
}


.li-2 ul li { 
  list-style-type: none;
  font-size:0.8rem;
} 

.flex-li {
  margin-top: 1em;
  text-decoration: none;
}

.footer-Container h2{
  font-size: 3rem;
}

.footer-terms div {
  display: flex;
  align-items: center;    
} 

.footer-terms p {
  font-size: 1rem;
}

.facebook {
  background-color: #3b5998;
}

.facebook a {
  color: #fff;
}

.twiter {
  background-color: #4da2f1;
}

.instagram {
  background-color: red;
}

.pinterest {
  background-color: red;
}

.copyright-container {
  text-align: center;
  color: #fff;
  background-color: #494545;
  padding: 0.2em;
  font-size: 1.2em;
}

.footer-icons div {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  padding: 0.5em;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.footer-Container h2 {
  font-size: 1rem;
}

.payments div {
  width: 50px;
  height: 50px;
  margin-right: 2em;
}

.payments div img {
  width: 100%;
}

.m-pesa-svg {
  height: 20px;
}

/* @media query */
@media (max-width: 810px){
 .li-2, .footer-terms,  .my-footer-logo {
   background-color: red;
   width: 100%;
 }
}

@media(max-widt:414px){
  .my-footer-logo,.li-2, .footer-terms{
    width: 100%;
  }
}