.slide{
    display: flex;
    width: 100vw;
    height: 80%;
    gap: 2em;
    align-items: center;
   flex: 0 0 100vw;
    background-color: rgb(250, 241, 241);
    transition: all 1.5s ease;
    
   
}

.Wrapper{
    display: flex;
width: 100%;
    
    position: relative;
    overflow: hidden;
}


.slide-content{
    flex: 1;
    
   
    line-height: 4em;
   text-align: center;
    display: flex;
    flex-direction: column;
}
.slide-image{
    flex: 1;
    height: 100%;
}
.slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.btn{
    padding: 1em 2em;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #444;
}

.slide-content h2{
    font-size: 4rem;
}
.slide-content p{
    font-size: 2rem;
}
.right-arrow,.left-arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255 ,0.5);
    position: absolute;
    cursor: pointer;
    top: 45%;
    margin: 1em;
  
    
    
}
.right-arrow{
    right: 0;
}